
<!--About-->
<md-content class="md-padding" layout-xs="column" layout="row">
    <div layout="column">
        <div flex="50">
            <img ng-src="{{banner}}" height="360" width="1024"/>
        </div>
        <div flex="20"></div>
        <div flex="30">
            <fieldset>
            <p>
                I am a Java, Javascript, and HTML5 Full-Stack developer;
            </p>
            <p>
                a self taught programmer and C.S. Major.
                I consider myself lucky being able to do what
                I love as a hobby every day for work.
            </p>
            <p>
                I am a huge
                fan of indie game development and spend my free time as a
                game maker and pixel artist. I am a passionate coder who
                loves to learn new things.
            </p>
            </fieldset>
        </div>
    </div>
</md-content>
<!--About End-->