
    <!--About-->
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div layout="row" id="About" jj-scroll-trigger="scrollEventCallback()" threshold="50" targetId="About" targetlistener="HighLightButtons">
            <md-card layout-align="start center" layout="row" layout-md="column" layout-xs="column">
                <img class="homePageSelfie md-padding" flex="50" src="https://media.licdn.com/media/AAEAAQAAAAAAAA1KAAAAJDBhYWEyNmI2LTViYWItNGU3ZS1hNzZlLTY5YjhmNTAyMzAxZA.jpg">
                <div layout="column">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Hello</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                        I am a Java, Javascript, and HTML5 Full-Stack developer;
                        </p>
                        <p>
                            a self taught programmer and C.S. Major.
                            I consider myself lucky being able to do what
                            I love as a hobby every day for work.
                        </p>
                        <p>
                            I am a huge
                            fan of indie game development and spend my free time as a
                            game maker and pixel artist. I am a passionate coder who
                            loves to learn new things.
                        </p>

                    </md-card-content>
                    </div>
                </div>
            </md-card>
    </md-content>
    <!--About End-->
    <!--Work Skills-->
    <div class="work-skills" id="Skills" jj-scroll-trigger="scrollEventCallback()" threshold="50" targetId="Skills">

        <h3>Work Skills</h3>
        <div class="card-panel">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="c100 big p65">
                        <span>65%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <p class="center-align">HTML &amp; CSS</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="c100 big p65">
                        <span>65%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <p class="center-align">JAVASCRIPT</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="c100 big p85">
                        <span>85%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <p class="center-align">BOOTSTRAP</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="c100 big p50">
                        <span>50%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <p class="center-align">WORDPRESS</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="c100 big p70">
                        <span>70%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <p class="center-align">SQL</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="c100 big p90">
                        <span>90%</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                    <p class="center-align">PHOTOSHOP</p>
                </div>
            </div>
        </div>
    </div>
    <!--Work Skill End-->
    <!--Work Expereince-->
    <div class="work-expreince"
         id="Experience"
         jj-scroll-trigger="scrollEventCallback()"
         threshold="50"
         targetId="Experience">
        <h3>Work Expreince</h3>
        <div class="card-panel hoverable work-ex">
            <h4>Web Programming &amp; Design</h4>
            <h5 class="text-color">12 jun 2017</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt leo ut mi accumsan tristique. Duis pulvinar rhoncus rutrum. Morbi mollis bibendum est, quis posuere ligula venenatis interdum. Fusce imperdiet non tortor vel aliquam. Nunc ornare, lorem et porttitor luctus, dui mauris sagittis libero.</p>
        </div>
        <div class="card-panel hoverable work-ex">
            <h4>Web Programming &amp; Design</h4>
            <h5 class="text-color">12 jun 2017</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt leo ut mi accumsan tristique. Duis pulvinar rhoncus rutrum. Morbi mollis bibendum est, quis posuere ligula venenatis interdum. Fusce imperdiet non tortor vel aliquam. Nunc ornare, lorem et porttitor luctus, dui mauris sagittis libero.</p>
        </div>
        <div class="card-panel hoverable work-ex">
            <h4>Web Programming &amp; Design</h4>
            <h5 class="text-color">12 jun 2017</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt leo ut mi accumsan tristique. Duis pulvinar rhoncus rutrum. Morbi mollis bibendum est, quis posuere ligula venenatis interdum. Fusce imperdiet non tortor vel aliquam. Nunc ornare, lorem et porttitor luctus, dui mauris sagittis libero.</p>
        </div>
    </div>
    <!--Work Expreince-->
    <!--Education-->
    <div class="education" id="Education"
         jj-scroll-trigger="scrollEventCallback()"
         threshold="50"
         targetId="Education">

        <h3>Education</h3>
        <div class="card-panel">
            <div class="btn bg-color">1900 - 2000</div>
            <h4>Istanbul University</h4>
            <p class="text-color">Web Design Programming and English</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet nisi vestibulum sem luctus ullamcorper sollicitudin quis ligula. Ut euismod pharetra purus, ut vehicula tellus laoreet sit amet.</p>

            <div class="btn bg-color">1900 - 2000</div>
            <h4>Istanbul University</h4>
            <p class="text-color">Web Design Programming and English</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet nisi vestibulum sem luctus ullamcorper sollicitudin quis ligula. Ut euismod pharetra purus, ut vehicula tellus laoreet sit amet..</p>

            <div class="btn bg-color">1900 - 2000</div>
            <h4>Istanbul University</h4>
            <p class="text-color">Web Design Programming and English</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet nisi vestibulum sem luctus ullamcorper sollicitudin quis ligula. Ut euismod pharetra purus, ut vehicula tellus laoreet sit amet.</p>
        </div>
    </div>
    <!--Education End-->
    <!--Interest-->
    <div class="interest" id="Interest"
         jj-scroll-trigger="scrollEventCallback()"
         threshold="50"
         targetId="Interest">

    <h3>My Interest</h3>
    <div class="card-panel padding-re">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="interest text-color"><i class="fa fa-plane" aria-hidden="true"></i></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="interest text-color"><i class="fa fa-bicycle" aria-hidden="true"></i></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="interest text-color"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="interest text-color"><i class="fa fa-glass" aria-hidden="true"></i></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="interest text-color"><i class="fa fa-coffee" aria-hidden="true"></i></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="interest text-color"><i class="fa fa-code" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
        </div>
    <!--Interest End-->
    <!-- Contact -->
    <div class="contact" id="Contact"
         jj-scroll-trigger="scrollEventCallback()"
         threshold="50"
         targetId="Contact">
        <h3>Contact</h3>
        <div class="card-panel row">
            <!--Google Map-->
            <div class="col-md-6 padding-left-reset">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52020482.05023901!2d-112.9477148!3d37.2695715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sBirle%C5%9Fik+Devletler!5e0!3m2!1str!2str!4v1484570405794" allowfullscreen=""></iframe>
            </div>
            <div class="col-md-6">
                <!--Adress-->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tincidunt leo ut mi accumsan tristique. Duis pulvinar rhoncus rutrum.</p>
                <div class="row">
                    <div class="col s2"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="col s10">
                        <h5>Address</h5>
                        <p>Greet Nore Sk. Holmes No: 9-5</p>
                    </div>
                    <div class="col s2"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="col s10">
                        <h5>Email</h5>
                        <p>info@example.com</p>
                    </div>
                    <div class="col s2"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <div class="col s10">
                        <h5>Phone</h5>
                        <p>0536 984 78 52</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->